version: '3.8'
services:
    mi-template:
        image: "wso2/wso2mi:4.5.0"
        ports:
            - "8080:8080"
            - "8043:8043"
        volumes:
            - ./mi-home/carbonapps:/home/wso2carbon/wso2mi-4.5.0/repository/deployment/server/carbonapps
            - ./mi-home/lib:/home/wso2carbon/wso2mi-4.5.0/lib
            - ./mi-home/conf/deployment.toml:/home/wso2carbon/wso2mi-4.5.0/conf/deployment.toml
            - ./mi-home/conf/log4j2.properties:/home/wso2carbon/wso2mi-4.5.0/conf/log4j2.properties
